img {
    width: 400px;
    height: auto;
}

h1 {
    background-color: black;
    color: red;
}

h2 {
    background-color: #ffff00;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}